<header class="primary-header">Categories</header>
<div class="categories">
    <div class="category" *ngFor="let category of categories">
        <div class="header">{{ category.name }}</div>
        <mat-divider></mat-divider>
        <div class="description">{{ category.desc }}</div>

        <div *ngFor="let subcategory of category.subcategories">
            <a [routerLink]="['/subcategory', subcategory.id]">
                <mat-card matRipple>
                    <mat-card-title>{{ subcategory.name }}</mat-card-title>
                    <mat-card-subtitle class="last-child" style="margin-bottom: 0;">{{ subcategory.desc }}
                    </mat-card-subtitle>
                </mat-card>
            </a>
        </div>
    </div>
</div>