<div class="thread">
    <div class="header">{{ title }}</div>
    <mat-divider></mat-divider>
    <mat-card>
        <div class="sideinfo">
            <div class="author"><span [ngStyle]="is_admin ? {color : 'red'} : null">{{ author_name }}</span></div>
            <div class="day">{{ time_created*1000 | date }}</div>
            <div class="hour">{{ time_created*1000 | date:'HH:mm' }}</div>
        </div>
        <div class="content">
            {{ content }}
        </div>
        <div style="clear: both;"></div>
    </mat-card>
    <div class="posts" *ngFor="let post of posts">
        <mat-card>
            <div class="sideinfo">
                <div class="author"><span
                        [ngStyle]="post.is_admin ? {color : 'red'} : null">{{ post.author_name }}</span></div>
                <div class="day">{{ post.time_created*1000 | date }}</div>
                <div class="hour">{{ post.time_created*1000 | date:'HH:mm' }}</div>
            </div>
            <div class="content">
                {{ post.content }}
            </div>
            <div style="clear: both;"></div>
        </mat-card>
    </div>
</div>

<button mat-fab (click)="tryAddingPost()">
    <mat-icon>add</mat-icon>
</button>

<div *ngIf="showPopup" class="popupBackground">
    <mat-card class="popupContent register">
        <header>Add post</header>
        <form [formGroup]="postFormGroup" (ngSubmit)="addPost()">
            <mat-form-field appearance="fill">
                <mat-label>Content</mat-label>
                <textarea matInput formControlName="content" placeholder="It's big and red" required></textarea>
            </mat-form-field>

            <div class="buttons">
                <button (click)="showPopup=false;" mat-raised-button color="warn">Cancel</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="!postFormGroup.valid">Add</button>
            </div>
        </form>
    </mat-card>
</div>